

<div style="position: sticky ; top: auto;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0 justify-content-center" href="#">
            <img src="https://dcassetcdn.com/design_img/552765/153100/153100_3751953_552765_image.jpg" height="51"
              alt="MDB Logo" loading="lazy" />
          </a>
          <h2>Dresskart</h2>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Left links -->
       
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="link-secondary me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <!-- Notifications -->
       
        <!-- Avatar -->
        <a type="button" class="btn btn-dark"(click)="cart()" routerLink="cart"> <i class="fa fa-cart-plus"></i> cart</a>

        <div class="">

          
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          
          
        </div>
      </div>
      <!-- Right elements -->
   
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <!-----------------------------------------------------content------------------------------------------------------------------->


<div class="container mt-5 me-5">

  <div class="row mb-5">
    <div class="card col-3 " style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a (click)="cart()" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>
           
      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3 " style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>



  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>



  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


  <div class="row mb-5">
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_5869460e-864d-4f6e-b39f-d52e39145f01_400x.jpg?v=1670535573
      " class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Blake Christmassy Sweatters </p>
        <h5 style="color: red;">Rs  1999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_09a5fafd-53a5-4f9d-bf94-e1830797bcd5_400x.jpg?v=1670354990" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Fabian Leather Dress</p>
        <h5 style="color: red;">Rs  2999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_bca74f2f-7ff7-43be-9b31-6efc280a2af8_400x.jpg?v=1671637141" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Naila Woolen Croods Set</p>
        <h5 style="color: red;">Rs  1599</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
    </div>
    <div class="card col-3" style="width: 18rem; margin: auto;">
      <img src="https://cdn.shopify.com/s/files/1/0250/7571/2047/products/image_7b215675-300e-488a-bd7a-b63c087f1dd4_400x.jpg?v=1669919088" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Jolene Woolen Coord Set</p>
        <h5 style="color: red;">Rs  3999</h5>
          <a href="#" class="btn btn-dark">Buy Now</a>
          <a href="" class="btn btn-dark m-1">add to cart</a>

      </div>
      
    </div>
  </div>


</div>

    <!-----------------------------------------------------footer------------------------------------------------------------------->


    <br><br><br><hr>
<!-- Footer -->
<footer class="bg-light text-center text-black">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->

    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-dark mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>

          <ul class="list-unstyled mb-0">
            <li>
              For any queries or order updates get in touch with our team at:
            </li>
            <li>
              <h6>Email:customerservice@alamodelabel.in</h6>
            </li>
            <li>
              We don't have any customer care number.
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Dresskart by someone</h5>

          <ul class="list-unstyled mb-0">
            <li>Need an Exchange? Click Here</li>
            <li>Search</li>
            <li>About Us</li>
            <li>Shipping Policy</li>
            <li>Return / Exchange Policy</li>
            <li>Privacy Policy</li>
            <li>Terms & Conditions</li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Newsletter</h5>

          <ul class="list-unstyled mb-0">
            <li>Subscribe to receive updates, access to exclusive deals, and more.</li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact us on</h5>

          <ul class="list-unstyled mb-0">
            <li>1234567890</li>
            <li>dresskart@gmail.com</li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




